div.panel {
  border: 2px solid #808080;
  margin-bottom: 1em;
  padding: 0;
}

div.preview {
  text-align:center;
  width: 100%;
}

div.dataFiles {
  padding: .5em;
}

div.historicVersions {
  padding: .5em;
}

div.transformations {
  padding: .5em;
}

div.panel h4 {
  text-align:center;
  color: #FFFFFF;
  background: #808080;
  width:100%;
  padding-top: .25em;
  padding-bottom: .25em;
}

div.full-id-div {
}
