a {
    color: #7d110c;
    text-decoration: none;
    background: transparent;
}

a:hover {
    background: transparent;
    text-decoration: underline;
}

.content-area {
  float:left;
  width: 660px;
  margin-top: 15px;
  clear: left;
/*  width:70%; */
}

.browse-area {
  float:left;
  margin-left: 15px;
  margin-top: 15px;
/*  width:30%; */
}

.content-area h3 {
	margin: 15px 0 0 0;
}

img {
	border:none;
}
