<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/docs/api/org/apache/log4j/xml/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    
    <appender name="SRW" class="org.apache.log4j.DailyRollingFileAppender">
        <!-- <param name="File" value="${catalina.home}/logs/srw.log"/>-->
        <param name="File" value="logs/srw.log"/>
        <param name="Append" value="true"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p (%13F:%L) %3x - %m%n"/>
        </layout>
    </appender>

    <logger name="ORG.oclc.os.SRW.Lucene">
        <level value="DEBUG" />
    </logger>

    <root>
        <priority value="INFO"></priority>
        <appender-ref ref="SRW"/>
    </root>
    
</log4j:configuration>
