<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <context-param>
    <param-name>recaptchaPrivateKey</param-name>
    <param-value>changeme</param-value>
  </context-param>
  <context-param>
    <param-name>recaptchaPublicKey</param-name>
    <param-value>changeme</param-value>
  </context-param>
  <listener>
      <listener-class>edu.indiana.dlib.catalog.asynchronous.OperationManagerContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>ClickServlet</servlet-name>
    <servlet-class>org.apache.click.extras.spring.SpringClickServlet</servlet-class>
    <init-param>
        <param-name>spring-path</param-name>
        <param-value>file:${photocat.home}/applicationContext.xml</param-value>
    </init-param>
    <load-on-startup>-1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>CollectionPathRedirectionServlet</servlet-name>
    <servlet-class>edu.indiana.dlib.catalog.servlets.CollectionPathRedirectionServlet</servlet-class>
    <init-param>
        <param-name>collection-path</param-name>
        <param-value>/collections</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>TransformationServlet</servlet-name>
    <servlet-class>edu.indiana.dlib.catalog.servlets.TransformationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BrowseSpreadsheetServlet</servlet-name>
    <servlet-class>edu.indiana.dlib.catalog.servlets.BrowseSpreadsheetExportServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadBatchServlet</servlet-name>
    <servlet-class>edu.indiana.dlib.catalog.servlets.DownloadBatchServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExportCollectionServlet</servlet-name>
    <servlet-class>edu.indiana.dlib.catalog.servlets.ExportCollectionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ExportCollectionConfigurationServlet</servlet-name>
    <servlet-class>edu.indiana.dlib.catalog.servlets.ExportCollectionConfigurationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DjatokaFedoraProxy</servlet-name>
    <servlet-class>edu.indiana.dlib.catalog.servlets.DjatokaFedoraProxy</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>sitemap</servlet-name>
    <servlet-class>edu.indiana.dlib.catalog.servlets.SiteMapServlet</servlet-class>
    <init-param>
      <param-name>cacheFilename</param-name>
      <param-value>/WEB-INF/sitemap.xml</param-value>
    </init-param>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ClickServlet</servlet-name>
    <url-pattern>*.htm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CollectionPathRedirectionServlet</servlet-name>
    <url-pattern>/collection/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TransformationServlet</servlet-name>
    <url-pattern>/transform.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BrowseSpreadsheetServlet</servlet-name>
    <url-pattern>/browse.xls</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownloadBatchServlet</servlet-name>
    <url-pattern>/download-batch.xls</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExportCollectionServlet</servlet-name>
    <url-pattern>/export-collection.xls</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ExportCollectionConfigurationServlet</servlet-name>
    <url-pattern>/export-collection-configuration.xml</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DjatokaFedoraProxy</servlet-name>
    <url-pattern>/proxy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sitemap</servlet-name>
    <url-pattern>/sitemap.xml</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
  </welcome-file-list>
  
</web-app>