<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <description>
      Indexing Web Service
    </description>
    <display-name>Indexing Web Service</display-name>
    
    <servlet>
      <servlet-name>INDEX</servlet-name>
      <servlet-class>edu.indiana.dlib.fedoraindexer.server.IndexRestService</servlet-class>
      <init-param>
        <param-name>indexManagerProperties</param-name>
        <param-value>${fedora-index-service.home}/index-manager.properties</param-value>
      </init-param>
      <load-on-startup>0</load-on-startup>
    </servlet>
  
    <servlet-mapping>
        <servlet-name>INDEX</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
</web-app>