<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
	"http://www.springframework.org/dtd/spring-beans.dtd">
    
<beans>
    <bean id="authenticationManager" class="edu.indiana.dlib.catalog.accesscontrol.impl.DummyAuthenticationManager">
        <constructor-arg type="java.lang.String" value="jdoe" />
        <constructor-arg type="java.lang.String" value="jdoe@example.fake" />
        <constructor-arg type="java.lang.String" value="John Doe" />
    </bean>
    <bean id="authorizationManager" class="edu.indiana.dlib.catalog.accesscontrol.impl.AllAccessAuthorizationManager">
        <constructor-arg type="java.lang.String" value="jdoe" />
    </bean>
    
    <bean id="configurationManager" class="edu.indiana.dlib.catalog.config.impl.DirectoryConfigurationManager">
        <constructor-arg type="java.lang.String" value="collections" />
        <constructor-arg type="java.lang.String" value="definitions" />
    </bean>
    
    <bean id="itemManager" class="edu.indiana.dlib.catalog.config.impl.DirectoryItemManager">
        <constructor-arg type="java.lang.String" value="item-repository" />
        <constructor-arg type="java.lang.String" value="lucene-index" />
    </bean>
    
    <bean id="searchManager" class="edu.indiana.dlib.catalog.search.impl.EmbeddedLuceneSearchManager">
        <constructor-arg type="java.lang.String" value="lucene-index" />
    </bean>
    
    <bean id="cacheManager" class="edu.indiana.dlib.catalog.cache.SimpleCacheManager">
        <constructor-arg type="java.lang.String" value="cache"/>
    </bean>
    
    <bean id="vocabularySourceManager" class="edu.indiana.dlib.catalog.vocabulary.impl.SimpleVocabularySourceManager">
        <constructor-arg type="java.lang.String" value="vocabulary"/>
    </bean>
    
    <bean id="batchManager" class="edu.indiana.dlib.catalog.batch.impl.FilesystemBatchManager">
        <constructor-arg type="java.lang.String" value="batches"/>
    </bean>
</beans>