/***************************************** 
 * Author: IU Office of Creative Services
 *
 * CSS for print delivery
 *
 * The purpose of this stylesheet is to 
 * redefine the layout and formatting of 
 * the branding bar and footer for 
 * printing.
 *****************************************/


/****************************************
 * IU Branding Bar
 ****************************************/
 
#identity {
	background-color: #fff;
}
#identity #signature a {
	background: none;
	position: static;
}
#identity #signature a img {
	display: block;
}

/****************************************
 * IU Footer
 ****************************************/

#footer {
	background-color: #fff;
}
#footer #copyright #blockiu a {
	background: none;
}
#footer #copyright #blockiu a img {
	display: block;
}
#footer #copyright p {
	color: #000;
}
#footer #copyright a {
	color: #990000;
	text-decoration: underline;
}