div.helpHidden {
  display: none;
}

div.helpDisplayed {
  white-space:normal;
  padding: .5em;
  width: 40em;
  background: #ffffff;
  border: 1px solid green;
}

div.helpDisplayed p {
  text-indent: 1.5em;
}