/* This CSS file is just for the sources.html page */ 

/* A division that contains a header and span tags each containing a link 
   to view a given vocabulary source */
div.source-listing {
    margin-bottom:2em;
}

table.sourceTable {
  
}

td.sourceSelectionCell {
  width: 400px;
}

p.explanation {
  margin-top: 1em;
  margin-bottom:.5em;
}