<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <listener>
      <listener-class>edu.indiana.dlib.catalog.asynchronous.OperationManagerContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>ClickServlet</servlet-name>
    <servlet-class>org.apache.click.extras.spring.SpringClickServlet</servlet-class>
    <init-param>
        <param-name>spring-path</param-name>
        <param-value>/applicationContext.xml</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>CollectionPathRedirectionServlet</servlet-name>
    <servlet-class>edu.indiana.dlib.catalog.servlets.CollectionPathRedirectionServlet</servlet-class>
    <init-param>
        <param-name>collection-path</param-name>
        <param-value>/collections</param-value>
    </init-param>
  </servlet>
    <servlet>
    <servlet-name>TransformationServlet</servlet-name>
    <servlet-class>edu.indiana.dlib.catalog.servlets.TransformationServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ClickServlet</servlet-name>
    <url-pattern>*.htm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CollectionPathRedirectionServlet</servlet-name>
    <url-pattern>/collection/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TransformationServlet</servlet-name>
    <url-pattern>/transform.xml</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
  </welcome-file-list>
  
</web-app>